<div class='row'>
  <h4 class='eight columns'>Active Leagues as Admin</h4>
  <div class="four columns">
    <button type="button" id="ad_leagues">View Leagues</button></br>
    <div id="admin_leagues"></div>
    <%#<% if @player.league_admin.any? %>
      <%#<% @player.league_admin.each do |league| %>
        <%#<%= link_to "#{league.name}", league_path(league) %>
      <%#<% end %>
    <%#<% else %>
      <%#<p>No Leagues currently assigned.</p>
    <%#<% end %>
  </div>
</div>
