<div class='row'>
  <h4 class='eight columns'><%= link_to "Active Leagues as Admin", player_leagues_path(@player) %></h4>
  <div class="four columns">
    <% if @player.league_admin.any? %>
      <% @player.league_admin.each do |league| %>
        <%= link_to "#{league.name}", league_path(league) %><br>
      <% end %>
    <% else %>
      <p>No Leagues currently assigned.</p>
    <% end %>
  </div>
</div>
