<div class='row'>
  <h4 class='eight columns'>Active Leagues as Admin</h4>
    <div class="four columns">
      <button type="button" id="ad_leagues">View Leagues</button></br>
    </div>
  <div class="twelve columns" id="admin_leagues">
  </div>
</div>
