<div class='row'>
  <h4 class="eight columns">Active Leagues as Player</h4>
    <div class="four columns">
      <button type="button" id="pl_leagues">View Leagues</button></br>
    </div>
  <div class="twelve columns" id="player_leagues">
  </div>
</div>
