<div class='row'>
  <h4 class="eight columns">Pending Invitations</h4>
  <div class="four columns">
    <button type="button" id="pend_invites">View Invitations</button></br>
    <div id="pending_invites"></div>

    
  </div>
</div>
