<div class='row'>
  <h4 class="eight columns">Pending Invitations</h4>
    <div class="four columns">
      <button type="button" id="pend_invites">View Invitations</button></br>
    </div>
    <div class="twelve columns" id="no_pending_invites"></div>
    <div class="twelve columns" id="pending_invites"></div>


</div>
