<div class='row'>
  <h4 class="eight columns">Recently Sent Invitations</h4>
    <div class="four columns">
      <button type="button" id="rec_invites">View Invitations</button></br>
    </div>
  <div class="twelve columns" id="recent_invites"></div>
    <%#<% @player.league_admin.each do |league| %>
    <%#<ul>
      <% league.invitations.recent.each do |i| %>

      <%#  <% end %>
</div>
